{% extends "base.html" %}
{% block head %}
<title>Home page</title>
{% endblock %}
{% block body %}
<h1>Jobs and Careers</h1>
<img id="banner" src="static/img/banner.jpg" alt="banner" height="320">
<h2>About Me</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id minima quas, quibusdam atque blanditiis sint nobis architecto sed aperiam asperiores laudantium vitae totam nam deserunt eius assumenda voluptates, eos esse. Eos ab, cumque odio quos nemo dolore omnis temporibus mollitia aut? Ipsam culpa nisi ipsum sit dolor tempore aperiam corrupti.</p>
<h2>Open Positions</h2>
<p>TODO - show the jobs here</p>
<button>Contact Us</button>
{% endblock %}